* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.list-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 50px;
}

.rocket-table,
.mission-table {
  width: 30%;
  border-collapse: separate;
  border: 1px solid #000;
}

.table-title {
  background-color: #4d4d4d;
  color: #fff;
}

.table-title th {
  padding: 10px;
  text-align: start;
}

.table-body tr td {
  border-bottom: 1px solid #ddd;
  text-align: start;
  padding: 13px;
}

.my-rockets,
.my-missions {
  font-size: 24px;
  color: #ddd;
}
